My workflow 6.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13GtRbAayiCqqP3uEQjb6tFjv2B7kRr_Z",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13GtRbAayiCqqP3uEQjb6tFjv2B7kRr_Z"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -32
      ],
      "id": "34fe137a-073f-4401-a0a3-036a80388aea",
      "name": "shraddhakalaskar123@gmail.com",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "G50EFRfCRChu8BVS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        -32
      ],
      "id": "f885e8cf-78d5-4a33-96ba-6f57f47554ed",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "G50EFRfCRChu8BVS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "google",
          "mode": "list",
          "cachedResultName": "google"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        -32
      ],
      "id": "9d1312ce-9a91-4ea3-a686-0b22afcd4aa0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "WuFMNsDdXNvjaOqT",
          "name": "google1"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        192
      ],
      "id": "f1efd046-bc1f-431f-9d8a-8b185098fab8",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "LkG4Qq8g63NiDGlO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        352,
        176
      ],
      "id": "f09962d6-553d-46fc-a8ca-3121f6928b08",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        448,
        384
      ],
      "id": "a5b31df8-5d41-43a3-b1aa-d22bc08c5c67",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        -16
      ],
      "id": "99825ee3-d9b9-4a02-a825-1c37f910bd5c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        736,
        -16
      ],
      "id": "59b64912-d898-4a2a-89ba-985af980b4a4",
      "name": "When chat message received",
      "webhookId": "1079c4c0-961d-4ca9-abc3-1f63a91e1c73"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        192
      ],
      "id": "ac7a1238-e20f-4e5e-ab82-4b9ae6ad245c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LkG4Qq8g63NiDGlO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "google",
          "mode": "list",
          "cachedResultName": "google"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1120,
        192
      ],
      "id": "6206ebd3-fdb5-47e8-ad37-356225fcc522",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "WuFMNsDdXNvjaOqT",
          "name": "google1"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1056,
        336
      ],
      "id": "a6497af8-0473-4cf5-8bb1-457cb09825a8",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "LkG4Qq8g63NiDGlO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "shraddhakalaskar123@gmail.com": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "805e7247-8876-4a29-ad66-8cb16e62f62b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "973696541fe2c4ae736fed1b915ea1135bb72c34a9b92af4489a63197bff3a0a"
  },
  "id": "mIdBFdxyXBP7dD8i",
  "tags": []
}